<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Study.Antd.Demo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Study.Antd.Demo.Properties.Settings>
            <setting name="PrefixUrl" serializeAs="String">
                <value>http://123.com:8080/v1</value>
            </setting>
        </Study.Antd.Demo.Properties.Settings>
    </applicationSettings>
</configuration>